*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.container{
    max-width: 1050px;
    margin: 0 auto;
    padding: 4em 2em;
}
.wife{
    margin-bottom: 3em;
}
.tempalte_title h2{
    margin-bottom: 0.5em;
}

.tempalte_title p{
    font-style: italic;
    opacity: .8;
}



.template_bookmarks p{
    font-size: 14px;
    color: #b9b5b5;
}

.template_bookmarks .contact{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    /* justify-content: start; */
    grid-gap: .5rem;
    gap: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.contact a{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px 15px;
}

.contact a:hover{
    background-color: #cfdff325;
}

.svg svg{
    margin: 10px 10px 0;
    font-size: 1.25rem;
    color: #b9b5b5;
}

.your_projects span{
    font-size: 12px;
    opacity: 0.8;
    color: #b9b5b5;
}

body::-webkit-scrollbar {/*滚动条整体样式*/

    width: 0px;     /*高宽分别对应横竖滚动条的尺寸*/

    height: 0px;

}

body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/

    border-radius: 10px;

     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);

    background: #535353;

}

body::-webkit-scrollbar-track {/*滚动条里面轨道*/

    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);

    border-radius: 10px;

    background: #EDEDED;

}